div.PatrolBoat {
    height: 40px;
    width: 40px;

    border: 1px solid black;
    background-color: rebeccapurple;
}

div.Destroyer {
    height: 80px;
    width: 40px;

    border: 1px solid black;
    background-color: rebeccapurple;
}

div.Cruiser {
    height: 120px;
    width: 40px;

    border: 1px solid black;
    background-color: rebeccapurple;
}

div.Carrier {
    height: 160px;
    width: 40px;

    border: 1px solid black;
    background-color: rebeccapurple;
}