button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: white;
    background-color: #2a6fdb;
    width: 45%;
    height: 40px;
    border-radius: 8px;
}