.password {
    & > h4 {
        color: #2a6fdb;
        margin: 0;
    }

    & > div {
        display: flex;
        align-items: center;

        border: 2px solid #2a6fdb;
        border-radius: 8px;

        margin-top: 8px;

        & > input[type=password] {
            box-sizing: border-box;
    
            width: calc(100% - 30px);
    
            border: none;
            border-radius: 8px;
            padding: 8px;
            
            color: #2a6fdb;
            outline:none;
        }

        & > input[type=text] {
            box-sizing: border-box;
    
            width: calc(100% - 30px);
    
            border: none;
            border-radius: 8px;
            padding: 8px;
            
            color: #2a6fdb;
            outline:none;
        }
    
        & > img.lock {
            height: 30px;
            width: 30px;
        }
    }
}

.passwordError {
    color: red;
}