div.menuContainer_menuBar_headerContainer_headerItem {
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    border: 2px solid rgb(72, 214, 210);
    border-radius: 7px;

    h2.menuContainer_menuBar_headerContainer_headerItem_textContent {
        color: rgb(72, 214, 210);
    }
}